[sources.from-the-agent]
type = "socket"
mode = "unix_stream"
decoding.codec = "json"
path = "{{.VectorInputSocket}}"

[transforms.remap_agentlogs]
inputs = [ "from-the-agent"]
type = "remap"
source = '''
{{ .VRLProgram }}
'''

[sinks.back-to-the-agent]
type = "socket"
inputs = ["remap_agentlogs"]
mode = "unix"
encoding.codec = "json"
path = "{{.VectorOutputSocket}}"